product-template

        <!-- place to include custom ETA properties -->
        <p class="line-item-property__field hide">
		<input required id="monogram" style="display:none;" type="text" name="properties[Monogram]">
		</p>
        
        
        
     <!-- Find a way to insert metafields ETA data into the properties(line item)-->   
        
cart.liquid
<!-- Properties for testing out if the line_item properties works for metafields-->
{% for p in item.properties %}
{% if property_size > 0 %}
<p>
{{ p.first }}
{{ p.last }}
</p>
<br>
{% endif %}
{% endfor %}


{% unless line_item.properties == empty %}
<ul>
  {% for property in line_item.properties %}
  <li>{{ property.first }}: {{ property.last }}</li>
  {% endfor %}
</ul>
{% endunless %}


              <script>
                
                console.log('{{item.properties.ETA}}');// how to access the properties
              </script>

<!-- Cart.liquid, product-template, theme.js,product-preorder-template,preOrderNotification--> 